 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-100: hsl(255, 88%, 90%); 
  --purple-500: hsl(256, 67%, 59%); 
  --yellow-100: hsl(33, 67%, 93%); 
  --yellow-500: hsl(39, 100%, 71%); 
  --white: hsl(0, 0%, 100%); 
  --black: hsl(0, 0%, 7%);

  --font-size--default: 18px;
}


.container {
  /* min-width: 100vw;
  display: grid;
  gap: 32px;*/
  font-family: "DM Sans", sans-serif;
  background-color: #F6F5F6; 
  padding: 32px 16px;

  @media (min-width: 768px) {
    padding: 52px 42px;
  }
  
}

.card {  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 26px;
  line-height: 90%;
  letter-spacing: -6%;
  font-weight: 500;
  padding: 32px;

  .card__img {
    width: 100px;
  }
}

.card__one {
  background-color: var(--purple-500);
  color: var(--white);
  padding: 40px 32px;
  text-align: center;

  .card__title {
    font-size: 46px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -4%;
    text-wrap: balance;
    margin-bottom: 32px;

    strong {
      font-weight: normal;
      color: var(--yellow-500);
    }

    @media (min-width: 1024px) {
      font-size: 62px;
    }

    @media (min-width: 768px) {
      font-size: 54px;
    }
  }
  .card__img {
    width: 192px;
  }

  .card__text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;

    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -3%;
    }
  }
}

.card__two {
  background-color: var(--white); 
  gap: 16px;
  align-items: flex-start;
  
  .card__img {
    width: 316px;
  }
}

.card__three {
  background-color: var(--yellow-500);
  padding-bottom: 0;
  gap: 16px;
  align-items: start;

  .card__img {
    width: 208px;
  }

}

.card__four {
  background-color: var(--purple-100);
  padding: 32px;
  gap: 24px;
  text-align: center;

  .card__title{
    font-size: 26px;
    font-weight: 500;
  }
  
  .card__img {
    width: 100%;
  }

  .card__text {
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: 768px) {
    .card__title {
      font-size: 28px;
    }
  }

  @media (min-width: 1024px) {
    .card__title {
      font-size: 32px;
    }
  }
}

.card__five {
  background-color: var(--purple-500);
  gap: 40px;

  .card__img {
    width: 228px;
  }

  .card__text {
    font-size: 32px;
    line-height: 28px;
    color: var(--white);
    text-align: center;
    text-wrap: balance;
  }

  @media (min-width: 768px) {
    flex-direction: row ;
    padding-inline: 100px;

    .card__text {
      font-size: 36px;
      line-height: 90%;
    }
  }

  @media (min-width: 1024px) {
    .card__text {
        font-size: 40px;
    }
  }

}

.card__six {
  background-color: var(--white);

}

.card__seven {
  background-color: var(--yellow-100);

}

.card__eight {
  background-color: var(--yellow-500);

}